div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 4px black solid;
    margin: 200px;
    transition: all 11s ease-in;
}
div:hover{
    transform: scale(1,2);
    transform: translate(40,56);
    transform: skewx(90deg);
}
